*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #9F0807;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    height: 40px;
}

.menu a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
    margin-top: 80px;
    height: 620px;

}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}

.logo2 {
    height: 300px;
    text-shadow: 0 0 50px  red,
                 0 0 100px red,
                 0 0 150px red,
                 0 0 200px red,
                 0 0 250px red;
    animation: animate 5s linear infinite;

}

/*@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}*/


.section-centre {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#actu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #9F0807;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.centre h1{
	color: #fff;
	font-size: 80px;
	text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.box{
	padding: 16px;
	background: #000000;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media screen and (max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
    .header{
        padding: 10px;
    }
}

hr {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

#last {
    visibility: hidden;
    clear: both;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}


.boite {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.boite:nth-child(2){
    animation-delay: 1.5s;
}
.boite:nth-child(3){
    animation-delay: 2.5s;
}
.boite:nth-child(4){
    animation-delay: 4s;
}
.boite:nth-child(5){
    animation-delay: 5.5s;
}



.checkpoint {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.checkpoint img {
    height: 245px;
    margin-top: 15px;
}

.checkpoint p {
    margin-top: 15px;
}


@media screen and (max-width: 1240px){
    #actu {
        display: initial;
    }

    .section-milieu p{
        margin-left: 0;
        padding: 30px;

    }

    

    #slider figure img{
        float: left;
        width: 20%;
        margin-top: 80px;
        height: 350px;
    }
    


}

.section-milieu {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.section-milieu section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-milieu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.section-milieu p{
    margin-left: 15px
}

.right-boite{
    left: 50%;

}

.left-boite{
    left: 0;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 7s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.checkpoint h2{
    font-weight: 600;
}


.left-checkpoint-row{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    right: -15px;
}

.right-checkpoint-row{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    left: -15px;
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }
    .boite{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .checkpoint{
        font-size: 13px;
    }
    .checkpoint h2 {
        margin-bottom: 10px;
    }

    .checkpoint img {
        height: 100px;
    }

    .right-boite{
        left: 0;
    }

    .left-checkpoint-row, .right-checkpoint-row{
        border-left: 0;
        border-right: 15px solid #fff;
        left: -15px;
    }

}

@media  screen and (width:1024px){
    .checkpoint img {
        height: 200px;
    }
}


@media  screen and (width:768px){
    .checkpoint img {
        height: 130px;
    }
}

    
.footer {
    background-color: black;
    padding: 20px;
    margin-top: 30px;
}

#trone {
    min-height: 100vh;
    background: linear-gradient(#9F0807,black);

}

#contact {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    background: linear-gradient(#9F0807,black);
    
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder{
    color: #aaa;
}

.contact-form-txtarea::placeholder{
    color: #aaa;
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: rgb(7, 4, 4);
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

#sponsors {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #9F0807;
}

.client-wrap{
    width: 90%;
    height: auto;
    text-align: center;
    margin: 20px;
}

.client-wrap h1{
    font-size: 80px;
    color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.client-wrap hr {
    width: 15%;
    height: 5px;
    border: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(0, 0, 0);
}

.client-in {
	width: 100%;
	height: auto;
	text-align: center;
}

.client-in ul {
	padding: 0;
	margin: 0;
}

.client-in ul li {
	list-style: none;
	display: inline-block;
	width:150px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.client-in ul li img {
	width: 100%;
	height: 100%;
}
.client-in ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.client-in ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}

.client-in ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.client-in ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}

.footers {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.video-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
.video-item {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

  .video-item iframe {
    width: 100%; 
    height: 300px;
}

@media screen and (max-width: 600px) {
    .video-container {
      flex-direction: column;
    }
  
    .video-item {
      flex: 1 0 100%;
    }
}

.video h1{
    font-size: 80px;
    color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.merch-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
  
.merch-item {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
  
.merch-item img {
    width: 100%;
    height: auto;
}
  
button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    .merch-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .merch-item {
      width: 80%; 
    }
}

.merch-container span {
    font-size: 30px;
    color: white;
}

.merch-container h2 {
    font-size: 30px;
    color: white;
}
  

